@import 'src/styles.scss';

.tile {
    &-container {
        position: relative;
    }

    &-image {
        border-radius: 20px;
        display: block;
        width: 100%;
        height: auto;

        &:hover {
            filter: drop-shadow(2px 2px 2px $dark);
        }
    }

    &-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        border-radius: 20px;
        background-color: $dark;
        cursor: pointer;
    }

    &-title {
        color: $light;
        font-size: 16px;
        font-weight: 600;
        position: absolute;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &-icon {
        color: $green;
        position: absolute;
        top: 60%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.tile-icon .mat-icon {
    transform: scale(3);
}

.tile-container:hover .tile-overlay {
    opacity: 1;
    cursor: pointer;
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    z-index: 75;

    &-left {
        top: -10px;
        left: -10px;

        &::before {
            top: 0;
            right: 0;
        }

        &::after {
            bottom: 0;
            left: 0;
        }

        &::before, &::after {
            border-top-color: transparent;
            border-left-color: transparent;
        }

        span {
            right: -25px;
            top: 40px;
            transform: rotate(-45deg);
        }
    }

    &-right {
        top: -10px;
        right: -10px;

        &::before {
            top: 0;
            left: 0;
        }

        &::after {
            bottom: 0;
            right: 0;
        }

        &::before, &::after {
            border-top-color: transparent;
            border-left-color: transparent;
        }

        span {
            left: -25px;
            top: 40px;
            transform: rotate(45deg);
        }
    }
}

.ribbon::before, .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid $green-dark;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 10px 0;
    background-color: $green;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-align: center;
    font-size: medium;
    font-weight: 600;
    color: $light;

}