@import 'src/styles.scss';

.spinner {
    display: flex;
    color: $green;
    height: 100%;
    
    &-central {
        justify-content: center;
        align-items: center;
    }
}

.spinner ::ng-deep circle {
    stroke: $green;
}

.home {
    &-inner {
        padding: 100px 75px 100px 75px;
    }

    &-container {
        display: flex;
        flex-wrap: wrap;
    }

    &-item {
        flex: 1 1 20%;
        padding: 5px 10px 15px 10px;
    }
}