@import 'src/styles.scss';

.spinner {
    display: flex;
    color: $green;
    height: 100%;
    
    &-central {
        justify-content: center;
        align-items: center;
    }
}

.spinner ::ng-deep circle {
    stroke: $green;
}