<ng-container *ngIf="loading else Loaded">
    <div class="spinner spinner-central">
        <mat-spinner></mat-spinner>
    </div>
</ng-container>
<ng-template #Loaded>
    <app-navigation [navigation]="navigation" [selected]="category$ | async" (selection)="handleCategorySelection($event)"></app-navigation>
    <div class="home home-inner">
        <div class="home-container">
            <ng-container *ngFor="let game of games$ | async">
                <div class="home-item" *ngIf="matchedCategory(game) || matchedOther(game)">
                    <app-tile [game]="game" (selection)="handleGameSelection($event)"></app-tile>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>
