@import 'src/styles.scss';

.spinner {
    display: flex;
    color: $green;
    height: 100%;
    
    &-central {
        justify-content: center;
        align-items: center;
    }
}

.spinner ::ng-deep circle {
    stroke: $green;
}

.home {
    padding: 8% 5% 8% 5%;

    &-container {
        display: flex;
        flex-flow: column wrap;
        width: 20%;
        // max-height: 5000px;
    }

    &-item {
        flex: 1;
    }

    &-image {
        border-radius: 20px;
    }
}